TURN_PORT=3479
TURN_API_PORT=3480
TURN_API_HOST=127.0.0.1
TURN_API_SECRET=tunllm-turn-api
TURN_API_URL=http://127.0.0.1:3480
TURN_REALM=tunllm
TURN_EXTERNAL_IP=
TURN_PUBLIC_HOST=
TURN_RELAY_PORT_MIN=49152
TURN_RELAY_PORT_MAX=49251
TURN_CREDENTIAL_TTL=3600

SIGNALING_PORT=3001
STUN_PORT=3478
VITE_SIGNALING_PORT=3001
